body, html{
    margin:0;
    padding:0;
}

/* shared attributes */
.banner, .another_button, .card, .sign_up_button {
    border-radius: 10px;
}
.display_heading_title, .display_heading_descrip, .sign_up_button {
    color:#E5E7EB;
    margin-left: 10%;
}
.sign_up_button, .another_button {
    border: none;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 50%;
    padding-bottom: 2%;
}

.head_picture {
    display:inline-flex;
    margin-left: 70%;

    width:120px;
    height:120px;
    border-style: solid;
    border-color:#3882F6;
}

.display_heading {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.display_heading_title {
    display: flex;
    text-align: left;
    width: 400px;
}

.display_heading_descrip {
    display: flex;
    text-align: left;
    width: 300px;
    height: 50px;
}

.sign_up_button {
    padding-left:20px;
    padding-right:20px;
    margin-top: 10px;
    height: 30px;
    width: 80px;    
    white-space: nowrap;
    background-color: #3882F6;
}

ol {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 10px
  }

a {
    text-decoration: none;
    font-weight: normal;
    color: #E5E7EB;
}
  
/* the preview cards */

.info_blocks {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.card {
    width:120px;
    height:120px;
    border-style: solid;
    border-color:#3882F6;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}
/* section with the quote */
.quote_container {
    display: flex;
    background: #E5E7EB;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 300px;
    left: 0;
    right: 0;
}

.quote {
    background: #E5E7EB;
    display: flex;
    width:600px;
    text-align: justify;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
}

.signature {
    display: flex;
    margin-top: 50px;
    white-space: nowrap;
}

/* the blue sign up banner at the bottom */
.another_button {
    background-color: transparent;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
}
.banner_container {
    display: flex;
    justify-content: center;
}

.banner {
    background: #3882F6;
    width: 800px;
    height: 100px;
    display:flex;
    gap: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.footer { 
    height: 72px;
    background: #1F2937;
    color: rgb(255, 255, 255);
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    margin-top: 60px;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}